.homepage .info {
	width: 100%;
	padding: 50px 0;

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 54px;

		&:not(:first-child) {
			margin-top: 50px;
		}

		&:nth-child(2n) {
			display: flex;
			flex-direction: row-reverse;
		}

		&-img {
			flex: 1 0 calc(50% - 54px) !important;
		}

		&-content {
			flex: 1 0 calc(50% - 54px) !important;
		}

		&-title {
			font-size: 30px;
			font-weight: 700;
			color: $title;
			line-height: 1.6;
		}

		&-descr {
			margin-top: 25px;
			font-size: 16px;
			color: $text;
			line-height: 1.6;
		}
	}
}

@media (max-width: 992px) {
	.homepage .info {
		&__item {
			flex-direction: column;
			row-gap: 20px;

			&:nth-child(2n) {
				display: flex;
				flex-direction: column;
			}

			&-img {
				flex: 1 1 100%;
			}

			&-descr {
				margin-top: 15px;
			}
		}
	}
}

@media (max-width: 768px) {
	.homepage .info {
		&__item {
			row-gap: 15px;

			&-title {
				font-size: 26px;
			}

			&-descr {
				font-size: 14px;
			}
		}
	}
}
